<header>
        <img id="logo" src="">
        <h1>Pride Fighter Academy</h1>
        <nav>
          <ul>
            <li><a href="./inscription">inscription</a></li>
            <li><a href="./mescours">voirs mes cours</a></li>
            <li><a href="/">admin</a></li>
          </ul>
        </nav>
      </header>